<div class="container">
  <div class="card col-md-5 mt-5 m-auto">
    <div class="card-header">login</div>
    <div class="card-body">
      <!-- * Template variable -->
      <form [formGroup]="formLogin">
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            formControlName="name"
            required
          />
          <span class="alert alert-danger alert-form" role="alert" [class.valid-form]="formLogin.controls['name'].valid">
            Nombre es requerido
          </span>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            formControlName="email"
            required
          />
          <span class="alert alert-danger alert-form" role="alert" [class.valid-form]="formLogin.controls['email'].valid">
            Email es requerido
          </span>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            formControlName="password"
            required
          />
          <span class="alert alert-danger alert-form" role="alert" [class.valid-form]="formLogin.controls['password'].valid">
            Password es requerido
          </span>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="formLogin.invalid"
          (click)="onRegister()"
        >
          Registrar
        </button>
      </form>
    </div>
  </div>
</div>
